{% extends "base.html" %}
{% block content_title %}News{% endblock %}
{% block content_main %}

	<div class="container-fluid mt-5">

            
            
            <!--Grid row-->

            <!--Grid row-->
                <ul class="list-unstyled">
                    <li class="media">
                      <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min2.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-2 font-weight-bold">Latest update news1</h5>
                            <!--Review-->
                            <!-- <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star blue-text"> </i> -->
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min2.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-2 font-weight-bold">Latest update news2</h5>
                            <!--Review-->
                            <!-- <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star grey-text"> </i> -->
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min3.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-2 font-weight-bold">Latest update news3</h5>
                            <!--Review-->
                            <!-- <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star blue-text"> </i>
                            <i class="fa fa-star grey-text"> </i>
                            <i class="fa fa-star grey-text"> </i> -->
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </li>
                </ul>
       
       
           
            
        </div>
	
{% endblock %}